body {
    margin-top: 250px;
    font-family: 'Kanit', sans-serif;
    background: #fff;
}


/*MENU*/

.fixed-top {
    padding-top: 0px;
    padding-bottom: 0px;
    background: #111;
    position: fixed;
    z-index: 1030;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    background: #111;
    position: fixed;
    z-index: 1030;
}


/*BACKGROUND IMGAGE*/

header.masthead {
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 100);
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/img/dikaseva-35077-unsplash.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3
}

@media (min-width:768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    header.masthead h3 {
        font-size: 4rem;
    }
}


/*site color header and logo */

.moment {
    color: #49c5b6;
}


/*SERCH*/

.myform-control {
    display: none;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button.btn.btn-light {
    position: absolute;
    background: transparent;
    border: none;
    height: 38px;
    right: 23px;
}

a.btn.btn-default.btn-scroll {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 100%;
}

.scroll-down {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 135px;
}

.big-img img {
    height: 325px;
    object-fit: cover;
}

.container.slider-top-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-login {
    width: 138px;
    background: #ecd06f !important;
    border: none;
}

.mfa-white {
    color: #fff !important;
}

h3.my-heading {
    color: #fff;
    font-weight: bold;
    font-size: 39px;
}

p.myp-slider.text-center {
    color: #fff;
}

.btn-register {
    width: 138px;
    background: #49c5b6 !important;
    border: none;
}

.btn-join {
    background: #49c5b6 !important;
    border: none;
}

.btn-circle {
    border-radius: 50%;
}

span.bg-main {
    color: #49c5b6;
}

p.myp.text-center {
    color: #fff;
    font-size: 14px;
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
    color: #fff;
}

a.link-color {
    text-decoration: none;
    color: #49c5b6;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #49c5b6;
}


/* arrow down icon*/

.floating-arrow {
    -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    animation: floating-arrow 1.6s infinite ease-in-out 0s;
}

@keyframes floating-arrow {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    65% {
        -webkit-transform: translateY(11px);
        transform: translateY(11px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

li.list-inline-item a {
    color: #fff;
    text-decoration: none;
}


/*Trening list*/

.trending {
    font-size: 15px;
    color: #ecd06f;
}

.gal {
    -ms-column-count: 3;
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
}

.gal img {
    width: 100%;
    padding: 7px 0;
}

@media (max-width: 500px) {
    .gal {
        -ms-column-count: 1;
        -webkit-column-count: 1;
        /* Chrome, Safari, Opera */
        -moz-column-count: 1;
        /* Firefox */
        column-count: 1;
    }
}


/*-------------------responsive-----------------*/

@media screen and (max-width: 520px) {
     ::placeholder {
        font-size: 10px;
    }
    .scroll-down {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 45px;
    }
    .text-block {
        padding: 15px;
    }
    .linear-grid img {
        width: 100%;
        height: 181px;
    }
    .my-grid img {
        width: 100%;
    }
    .inner-section h3 {
        font-size: 22px;
    }
    .inner-section p {
        font-size: 13px;
    }
}

@media screen and (max-width: 767px) {
    .btn-login {
        width: 100%;
    }
    .btn-register {
        width: 100%;
    }
}


/*footer*/

#footer1 {
    padding-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background: #000 !important;
}


/*LIGHT BOX */

#lightbox .modal-content {
    display: inline-block;
    text-align: center;
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    z-index: 1032;
}

#exampleInputFile {
    color: #ecd06f;
    text-align: center;
}


/**UPLOAD**/

uploadForm {
    margin-top: 200px;
}